/Modules/SimplexMethod/nbproject/private/
/Modules/SimplexMethod/build/
/Modules/SimplexMethod/dist/
/ExamplesCode
/Modules/VariableParser/build/
/Modules/VariableParser/dist/
/Modules/GeneticAlgorithm/build/
/Project/WebOptimizationCalc/nbproject/private/
/Project/WebOptimizationCalc/build/
/Project/SearchWord/nbproject/private/
/Project/WebOptimizationCalc/dist/