/Modules/SimplexMethod/nbproject/private/
/Modules/SimplexMethod/build/
/Modules/SimplexMethod/dist/
/ExamplesCode
/Modules/VariableParser/build/
/Modules/VariableParser/dist/
/Modules/GeneticAlgorithm/build/