/* 
    Created on : 31.10.2017, 17:48:10
    Author     : IOAdmin
*/

/* ================== SETTINGS ==================*/

html, body {
    height: 100%;
}

body {
    color: #333;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#page-container {
    min-height: 100%;
    padding: 5px;
    max-width: 1200px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

a {
    color: #000;
    text-decoration: none;
}

p {
    color: #111;
}


/* ================== HEADER ==================*/
.header {
    margin: 20px 0;
    padding: 0 20px 0 20px;
}

/* ================== NAV ==================*/
.nav {
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
    text-align: center;
}

nav ul li a {
    color: #fff;
    float: left;
    font-size: 15px;
    padding: 20px 0 20px 0;
    text-shadow: 0 1px 3px rgba(0,0,0,.3);
    width: 50%;
}
nav ul li:first-child a {
    background: #ff1e00;
}
nav ul li:last-child a {
    background: #ff9500;
}


/* ================== MAIN ==================*/
main {
    padding: 0 20px;
    text-align: justify;
}

.text-about-method-container {
    margin-bottom: 30px;
}

.text__calculator {
    display: block;
    font-family: Verdana, Arial, sans-serif;
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text__about_method p {
    padding: 5px 0;
    font-size: 15px;
    line-height: 1.4;
}

/* problem information */
.problem-container {
    border-bottom: 2px solid #1a5f8c;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: justify;
    
}

.probleb-theme {
    padding-bottom: 10px;
}

.theme, 
.problem-task {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.problem-table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin: 20px auto;
}

.problem-table th, 
.problem-table td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
.problem-table th, 
.problem-table td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    padding: 10px;
}
.problem-table td {
    background: #D8E6F3;
}
.problem-table th:first-child, 
.problem-table td:first-child {
    text-align: left;
}

.problem-description ol {
    list-style: lower-latin;
    margin-left: 50px;
}

/* problem-calc */
.problem-calc-container {
    background: #f2f9ff;
    border: 2px solid #1a5f8c;
    padding: 15px;
    text-align: center;
}

.manual {
    border-bottom: 2px solid #1a5f8c;
    color: #007299;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.button {
    background: rgba(3, 77, 151, 1);
    border: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    color: #fff;
    cursor: pointer;
    display: block;
    width: 195px;
    margin: 10px auto;
    padding: 10px;
}

/* ================== FOOTER ==================*/
footer {
    background: #26537c;
    height: 50px;
    margin-top: -50px;
    text-align: center;
}

.footer-container p {
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

