/* 
    Created on : 31.10.2017, 17:48:10
    Author     : IOAdmin
*/

/* ================== SETTINGS ==================*/

html, body {
    height: 100%;
}

body {
    color: #333;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#page-container {
    min-height: 100%;
    padding: 5px;
    width: 1200px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

a {
    color: #000;
    text-decoration: none;
}

p {
    color: #111;
}


/* ================== HEADER ==================*/
.header {
    margin: 20px 0;
    padding: 0 20px 0 20px;
}

/* ================== NAV ==================*/
.nav {
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
    text-align: center;
}

nav ul li a {
    color: #fff;
    float: left;
    font-size: 17px;
    padding: 20px 0 20px 0;
    text-shadow: 0 1px 3px rgba(0,0,0,.3);
    width: 50%;
}
nav ul li:first-child a {
    background: #ff1e00;
}
nav ul li:last-child a {
    background: #ff9500;
}


/* ================== MAIN ==================*/
.text__calculator {
    display: block;
    font-family: Verdana, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text__about_method p {
    padding: 5px 0;
    font-size: 18px;
    line-height: 1.4;
}


/* ================== FOOTER ==================*/
footer {
    background: #26537c;
    height: 30px;
    margin-top: -30px;
    text-align: center;
}

.footer-container p {
    color: #fff;
    line-height: 30px;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

