/* 
    Created on : 01.11.2017, 12:28:16
    Author     : IOAdmin
*/

/* ===================== SIMPLEX ======================== */
.simplex-container {
    background: #f2f9ff;
    border: 3px solid #1a5f8c;
    max-width: 1200px;
    overflow: hidden;
    padding: 15px;
    text-align: center;
}

/* validator */
.empty-fields {
    background: rgba(255,30,0,0.8);
    border-radius: 6px;
    color: #fff;
    margin: 2px;
    padding: 4px;
}

/* SIMPLEX SET CONSTRAINTS  */
.manual {
    border-bottom: 2px solid #1a5f8c;
    margin-bottom: 10px;
}

.simplex-container p {
    color: #636363;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 15px;
}

.input-count {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.3);
    max-width: 200px;
    margin-bottom: 10px;
    padding: 10px;
}

.button {
    background: rgba(3, 77, 151, 1);
    border: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    color: #fff;
    cursor: pointer;
    display: block;
    width: 195px;
    margin: 10px auto;
    padding: 10px;
}

.button:hover {
    background: rgba(3, 77, 151, 0.8);
}

/* SIMPLEX SET VALUES CONSTRAINTS  */
/* constraints */
.input-value {
    margin: 0 8px 8px 0;
    width: 100%;
    max-width: 50px;
}

.value-constraint {
    margin-bottom: 8px;
    width: 100%;
    max-width: 50px;
}

.select-equal {
    margin: 0 10px 8px 0;
    width: 100%;
    max-width: 35px;
}

/* goal func */
.panel-goal-func {
    display: block;
    text-align: left;
}

.arg-name {
    padding-right: 1px;
}

.select-condition {
    width: 50px;
}

/** stepThirdResult.xhtml  */
.description {
    border-bottom: 2px solid #1a5f8c;
    margin-bottom: 25px;
    padding-bottom: 25px;
    line-height: 35px; 

    text-align: justify;
}

.table-result-container {
    border-bottom: 2px solid #1a5f8c;
    margin-bottom: 25px;
    padding-bottom: 25px;
    width: 100%;
    overflow: auto;
}

.table-result {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}
.table-result th, 
.table-result td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
.table-result th, .table-result 
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    padding: 10px;
}
.table-result td {
    background: #D8E6F3;
}
.table-result th:first-child, 
.table-resulttd:first-child {
    text-align: left;
}
