/* 
    Created on : 01.11.2017, 12:28:16
    Author     : IOAdmin
*/

.content-container {
    margin-bottom: 40px;
}

#loading_wrapper {
    background: #fff000;
    border-radius: 45px;
    display: none;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    width: 280px;
    animation: rnd_background 2s infinite ease-in-out;
        -webkit-animation: rnd_background 2s infinite ease-in-out;
}

#loading_wrapper p {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

@keyframes rnd_background {
0% { background: green; }
25% { background: yellow; }
50% { background: pink; }
75% { background: red; }
100% { background: orange; }
}

/* ===================== SIMPLEX ======================== */
.simplex-container {
    background: #f2f9ff;
    border: 3px solid #1a5f8c;
    max-width: 1200px;
    overflow: hidden;
    padding: 15px;
    text-align: center;
}

.simplex-container p {
    color: #636363;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 15px;
}

/* validator */
.empty-fields {
    background: rgba(255,30,0,0.8);
    border-radius: 6px;
    color: #fff;
    margin: 2px;
    padding: 4px;
}

/* SIMPLEX SET CONSTRAINTS  */
.manual {
    border-bottom: 2px solid #1a5f8c;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.input-count {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.3);
    max-width: 200px;
    margin-bottom: 10px;
    padding: 10px;
}

.button {
    background: rgba(3, 77, 151, 1);
    border: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    color: #fff;
    cursor: pointer;
    display: block;
    width: 195px;
    margin: 10px auto;
    padding: 10px;
}

.button:hover {
    background: rgba(3, 77, 151, 0.8);
}

/* SIMPLEX SET VALUES CONSTRAINTS  */
/* constraints */
.input-value {
    margin: 0 2px 8px 0;
    width: 100%;
    max-width: 50px;
}

.value-constraint {
    margin-bottom: 8px;
    width: 100%;
    max-width: 50px;
}

.select-equal {
    margin: 0 10px 8px 0;
    width: 100%;
    max-width: 35px;
}

/* goal func */
.panel-goal-func {
    display: block;
    text-align: left;
}

.arg-name {
    padding-right: 8px;
    font-size: 15px;
}

.select-condition {
    width: 50px;
}

/** stepThirdResult.xhtml  */
.description {
    border-bottom: 2px solid #1a5f8c;
    font-size: 15px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    line-height: 35px; 
    text-align: justify;
}

.table-result-container {
    border-bottom: 2px solid #1a5f8c;
    margin-bottom: 25px;
    padding-bottom: 25px;
    width: 100%;
    overflow: auto;
}

.table-result {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}
.table-result th, 
.table-result td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
.table-result th, 
.table-result td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    padding: 10px;
}
.table-result td {
    background: #D8E6F3;
}
.table-result th:first-child, 
.table-result td:first-child {
    text-align: left;
}

/* results */
.results-method {
    border-bottom: 2px solid #1a5f8c;
    margin-bottom: 25px;
    padding-bottom: 25px;
}


/* save word button */
.save-to-word input {
    background: rgba(3, 77, 151, 1);
    border: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    padding: 15px;
}

.save-to-word input:hover {
    background: rgba(3, 77, 151, 0.8);
}


/* ===================== GENETIC ======================== */
.genetic-container {
    background: #f2f9ff;
    border: 3px solid #1a5f8c;
    max-width: 1200px;
    overflow: hidden;
    padding: 15px;
    text-align: center;
}

.genetic-container p {
    color: #636363;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 15px;
}

.step-name {
    border-bottom: 2px solid #1a5f8c;
    color: #007299; 
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-transform: uppercase; 
}

.table-params-container {
    margin-bottom: 15px;
    padding: 10px;
    width: 98%;
}

.table-params {
    font-size: 15px;
    margin: 0 auto;
}

.table-params td {
    padding-bottom: 5px;
}

.table-params input {
    padding: 3px;
    width: 200px;
}

/* resuls */
.genetic-result-container {
    height: 700px;
    overflow: auto;
}

.optimal-result-container {
    border-bottom: 2px solid #ff0000;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.result-best-of-all {
    border-bottom: 2px solid #ff0000;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.result-best-of-all .best-individual {
    color: #ff0000;
}

.result-best-of-all .best-ind-int,
.result-best-of-all .best-ind-double {
    color: #000;
    font-size: 15px;
}

.chart-container {
    margin: 0 auto;
}

.chart {
    height: 400px;
}

/* tables results */
.table-genetic-container {
    margin-bottom: 10px;
    width: 100%;
    overflow: auto;
}

.table-genetic  {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

.table-genetic caption {
    color: #ff1e00;
    font: Verdana, Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

.table-genetic th {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
.table-genetic  th, 
.table-genetic td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    padding: 10px;
}
.table-genetic td {
    background: #D8E6F3;
}

.result-best-ind {
    border-bottom: 2px solid #1a5f8c;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.best-individual {
    color: #ff9500;
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
}

.result-best-ind .best-ind-int,
.result-best-ind .best-ind-double {
    color: #000;
    font-size: 14px;
}